body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}

header {
    height: 60px;
    background-color: #F6F6EB;
}
.span_3 img{
    display: none;
}

.Main_contaner {
    margin-left: 15%;
    padding-top: 10px;
    width: 80%;
    display: grid;

    grid-template-columns: 5% auto auto;

}

.logo {
    width: 0;
}

.logo a {
    color: blue;
}

.function {
    padding-top: 2px;
}

.function select {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    color: blue;
    font-weight: 700;
    font-size: medium;
    margin-right: 30px;
    cursor: pointer;
    padding: 5px;
    border: 2px solid rgba(0, 0, 255, 0);
    transition: .2s;
    border-radius: 8px;

}

.function a {
    text-decoration: none;
    color: blue;
    font-weight: 550;
    font-size: large;
    padding: 5px;

    border: 2px solid rgba(0, 0, 255, 0);
    transition: .2s;
    border-radius: 8px;

}

.function span a {
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 8px;

}

.function select:hover {
    border: 2px solid blue;
    border-radius: 8px;
}

.function a:hover {
    border: 2px solid blue;
    border-radius: 8px;
}

.button {
    padding: 0px;
}

.button button {
    color: blue;
    font-weight: 700;
    font-size: medium;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    cursor: pointer;
    padding: 5px 10px;
    border: 2px solid rgba(0, 0, 255, 0);
    transition: .2s;
}

.button button:hover {
    border: 2px solid blue;
    border-radius: 8px;
}

.button span button {
    color: aliceblue;
    background-color: rgb(0, 0, 168);
    padding: 10px 20px;
    border-radius: 8px;
    border: 0;

}

.button span button:hover {
    border: 0;
    background-color: blue;
}

.Main_intro {
    width: 80%;
    display: grid;
    grid-template-columns: auto 1fr;
    margin-left: 8%;
    margin-top: 100px;

}

.Main_Search p {
    color: rgb(65, 64, 64);
    padding-bottom: 10px;
    margin: 0;
}

.Icon_input {
    width: 250px;
    display: grid;
    grid-template-columns: auto 1fr;
    border: 2px solid rgb(184, 184, 184);
    padding: 10px;
    border-radius: 5px;
}

.Icon_input i {
    color: rgb(184, 184, 184);
    font-size: large;

}

.Icon_input input {
    border: 0;
    outline: none;
    margin-left: 10px;
}

.Category {
    margin-top: 50px;
}

.Category span a {
    color: blue;
    text-decoration: none;
    font-weight: 600;
    margin-left: 23px;
    width: 100%;
    height: 40px;
}

.Category a {
    color: rgb(65, 64, 64);
    text-decoration: none;
    font-weight: 600;
    margin-left: 22px;

}

.Category a:hover {
    color: blue;
    text-decoration: none;
    font-weight: 600;
    margin-left: 22px;

}

.Category select:hover {
    color: blue;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    margin-left: 20px;
    font-weight: 600;
    font-size: medium;
    outline: none;
    cursor: pointer;

}

.Category select {
    color: rgb(65, 64, 64);
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    margin-left: 20px;
    font-weight: 600;
    font-size: medium;
    outline: none;
    cursor: pointer;

}

.Back_G1 {
    background-color: #F3F2FC;
    width: 100%;
    border-radius: 8px;
}

.change_width {
    width: 85%;
    margin-left: 10%;
    padding-top: 6%;
}

.change_width h2 {
    font-weight: 700;
}

.change_width button {
    padding: 10px 40px;
    border-radius: 8px;
    border: 0;
    background-color: rgb(1, 1, 181);
    color: aliceblue;
    font-size: large;
    cursor: pointer;
    transition: .5s;
}

.change_width button:hover {
    padding: 10px 40px;
    border-radius: 8px;
    border: 0;
    background-color: rgb(0, 0, 255);
    color: aliceblue;
    font-size: large;
    cursor: pointer;
}

.Main_liner {
    margin-left: 40px;
}

.A_Header1 {
    display: grid;
    grid-template-columns: auto auto;
}

.liner h1 {
    font-size: xxx-large;
    font-weight: 700;
    margin: 0;
    margin-bottom: 10px;
}

.liner p {

    font-size: large;
    margin-left: 12px;
    margin: 0;
}

.A_Header1 a {
    color: rgb(15, 0, 152);
    font-weight: 700;
    text-align: end;
    transition: .5s;
}

.A_Header1 a:hover {
    color: rgb(100, 83, 247);
    font-weight: 700;
    text-align: end;
}

.Main_Product {
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
}

.Product {
    padding: 20px;
    border: 2px solid rgb(184, 184, 184);
    border-radius: 8px;
    cursor: pointer;
}

.Product h3 {
    color: rgb(88, 88, 255);
}

.Product h2 {
    font-weight: 800;
}

.Product img {
    border: 2px solid rgb(184, 184, 184);
    border-radius: 8px;

}

.Product:hover {

    border: 2px solid gray;
}
.hr_1{
    display: none;
}
@media(max-width : 700px){
    
    header{
        width: 100%;
        max-width: 100%;
        
        
    }
    
    .logo {
        position: relative;
        right: 100%;

    }
    .function{
        display: none;
    }
    .b_1{
        display: none;
    }
    .button{
        display: grid;
        grid-template-columns: auto auto;
        width: 100%;
        text-align: end;
    }
    .button span button{
        display: inline-block;
        
       
    }
    .span_3 img{
        display: inline-block;
        position: relative;
        top: 15%;
       
    }
    .Main_Search p{
        display: none;
    }
    .Main_intro{
        display: grid;

        grid-template-columns: 1fr;
    }
    .Category{
    
    position: relative;
    bottom: 140%;
    right: 3%;
    word-spacing:10%;
    
    }
    .Category br{
        display: none;
    }
    .change_width{
        display: none;
    }
    .Icon_input{
        width: 60%;
    }
    .A_Header1 a{
        width: 100%;
        
        margin-top: 30%;
        margin-left: 60%;
    }
    .liner h1{
        font-size: 2rem;
        
    }
    .liner p{
        font-size: .9rem;
        width: 100%;
    }
    .Main_liner{
       
    justify-items: left;
    }
     
    
    
    .hr_1{
        display: inline-block;
        min-width: 100%;
        position: relative;
        top: 10%;
    }
    .Main_Product{
        display: grid;
        width: 100%;

        
        grid-template-columns: 1fr;
    }
    
    .Product{
        
        max-width: 100%;
        font-size: inherit;
        
    }


    



}
