.main_1 {
    justify-self: right;
    width: 80%;
    display: grid;
    grid-template-rows: 35% 1fr;
    margin-top: 2%;
    
}

.div_nav_1 {
    display: grid;
    grid-template-columns: auto auto;
}

.span_1 {
    display: block;
    font-size: xxx-large;
    margin-left: 13%; 
    font-weight: 900;

}
.div_nav_2:hover{
    cursor: pointer;
}

.span_2 {
    display: block;
    font-size: x-large;
    padding-top: 1%;
    margin-left: 13%;
   
}
.nav_2{
    text-align: center;
}

.nav_2 a {
    color: rgb(15, 0, 152);
    font-weight: 700;
    text-decoration: underline;
    font-weight: bold;
   

}
.nav_2 a:hover {
    color: rgb(100, 83, 247);
    font-weight: 700;
    text-align: end;
}

.div_nav_2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 40%;
   
    
}

.div_nav_5 {
    height: auto;
    width: 60%;
    background-color: #f6f6eb;
    border-radius: 15px;
    margin-left: 13%;

}

.div_nav_5 img {
    position: relative;
    top: 50%;
    height: 200px;
    width: 100%;

}

.div_nav_5 span {
    font-size: large;
    font-weight: 900;
    position: relative;
    bottom: 40%;
    left: 25px;
}

.div_nav_6 {
    height: 300px;
    width: 60%;
    background-color: #f3f2fc;
    border-radius: 15px;
}

.div_nav_6 img {
    position: relative;
    top: 50%;
    height: 200px;
    width: 100%;
}

.div_nav_6 span {
    font-size: large;
    font-weight: 900;
    position: relative;
    bottom: 40%;
    left: 25px;
}

.div_nav_7 {
    height: 300px;
    width: 60%;
    background-color: #f6f6eb;
    border-radius: 15px;

}

.div_nav_7 img {
    position: relative;
    top: 50%;
    height: 200px;
    width: 100%
}

.div_nav_7 span {
    font-size: large;
    font-weight: 900;
    position: relative;
    bottom: 40%;
    left: 25px;
}

footer {
    background-color: #0B2545;
    color: white;
    padding: 40px 20px;
    margin-top: 200px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    font-weight: 900;
    font-size: small;

}

.footer-container_1 {
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 100px;

}

.column a {
    text-decoration: none;
    color: white;
}

.column_1 a {
    text-decoration: none;
    color: white;
}

.column {
    line-height: 230%;
}

.column_1 {
    line-height: 230%;
}

.column ul {
    list-style: none;
    padding: 0;

}

.column_1 ul {
    list-style: none;
    padding: 0;

}

.footer-container_2 {
    margin-top: 5%;
    justify-self: center;
    width: 67%;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 6%;

}

.footer-bottom {
    margin-top: 10%;
    display: grid;
    grid-template-columns: 50% 50%;
    color: #fedb63;
    margin-left: 15%;
}

.footer-bottom_1 img {
    width: 30px;
    height: 30px;
    
}

.footer-bottom_2 img {
    width: 200px;
    height: 50px;
    margin-left: 65%;
    margin-top: 5%;
}

.column a:hover {
    text-decoration: underline;
}
@media (max-width:1250px) {
    .main_1 {
        justify-self: right;
        width: 80%;
        display: grid;
        grid-template-rows:none;
        margin-top: 2%;
        
    }
    
    .div_nav_1 {
        display: grid;
        grid-template-columns: auto auto;
        margin-bottom: 10%;
    }
    
    .span_1 {
        display: block;
        font-size: xxx-large;
        margin-left: 13%; 
        font-weight: 900;
    
    }
    .div_nav_2:hover{
        cursor: pointer;
    }
    
    .span_2 {
        display: block;
        font-size: x-large;
        padding-top: 1%;
        margin-left: 13%;
       
    }
    .nav_2{
        text-align: center;
    }
    
    .nav_2 a {
        color: rgb(15, 0, 152);
        font-weight: 700;
        text-decoration: underline;
        font-weight: bold;
       
    
    }
    .nav_2 a:hover {
        color: rgb(100, 83, 247);
        font-weight: 700;
        text-align: end;
    }
    
    .div_nav_2 {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        height: 900px;
       
        
    }
    
    .div_nav_5 {
        height: auto;
        width: 60%;
        background-color: #f6f6eb;
        border-radius: 15px;
        margin-left: 13%;
    
    }
    
    .div_nav_5 img {
        position: relative;
        top: 50%;
        height: 200px;
        width: 100%;
        border-radius: 15px;
    
    }
    
    .div_nav_5 span {
        font-size: large;
        font-weight: 900;
        position: relative;
        bottom: 40%;
        left: 25px;
    }
    
    .div_nav_6 {
        height: auto;
        width: 60%;
        background-color: #f3f2fc;
        border-radius: 15px;
    }
    
    .div_nav_6 img {
   position: relative;
        top: 40%;
        height: 200px;
        width: 100%;
        border-radius: 15px;

    }
    
    .div_nav_6 span {
        font-size: large;
        font-weight: 900;
        
        bottom: 40%;
        left: 25px;
    }
    
    .div_nav_7 {
        margin-top: 100px;
        margin-left: 13%;
        height: 300px;
        width: 60%;
        background-color: #f6f6eb;
        border-radius: 15px;
    
    }
    
    .div_nav_7 img {
        position: relative;
        top: 50%;
        height: 200px;
        width: 100%;
        border-radius: 15px;

    }
    
    .div_nav_7 span {
        font-size: large;
        font-weight: 900;
        position: relative;
        bottom: 40%;
        left: 25px;
    }
    
    footer {
        background-color: #0B2545;
        color: white;
        padding: 40px 20px;
        margin-top: 200px;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        font-weight: 900;
        font-size: small;
    
    }
    
    .footer-container_1 {
        justify-self: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 100px;
    
    }
    
    .column a {
        text-decoration: none;
        color: white;
    }
    
    .column_1 a {
        text-decoration: none;
        color: white;
    }
    
    .column {
        line-height: 230%;
    }
    
    .column_1 {
        line-height: 230%;
    }
    
    .column ul {
        list-style: none;
        padding: 0;
    
    }
    
    .column_1 ul {
        list-style: none;
        padding: 0;
    
    }
    
    .footer-container_2 {
        margin-top: 5%;
        justify-self: center;
        width: 67%;
        
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 6%;
    
    }
    
    .footer-bottom {
        margin-top: 10%;
        display: grid;
        grid-template-columns: 50% 50%;
        color: #fedb63;
        margin-left: 15%;
    }
    
    .footer-bottom_1 img {
        width: 30px;
        height: 30px;
        
    }
    
    .footer-bottom_2 img {
        width: 200px;
        height: 50px;
        margin-left: 50%;
        margin-top: 5%;
    }
    
    .column a:hover {
        text-decoration: underline;
    }
}
@media (max-width:1100px) {
    .main_1 {
        justify-self: right;
        width: 80%;
        display: grid;
        grid-template-rows:none;
        margin-top: 2%;
        
    }
    
    .div_nav_1 {
        display: grid;
        grid-template-columns: auto auto;
        margin-bottom: 10%;
    }
    
    .span_1 {
        display: block;
        font-size: xxx-large;
        margin-left: 13%; 
        font-weight: 900;
    
    }
    .div_nav_2:hover{
        cursor: pointer;
    }
    
    .span_2 {
        display: block;
        font-size: x-large;
        padding-top: 1%;
        margin-left: 13%;
       
    }
    .nav_2{
        text-align: center;
    }
    
    .nav_2 a {
        color: rgb(15, 0, 152);
        font-weight: 700;
        text-decoration: underline;
        font-weight: bold;
       
    
    }
    .nav_2 a:hover {
        color: rgb(100, 83, 247);
        font-weight: 700;
        text-align: end;
    }
    
    .div_nav_2 {
        width: 40%;
        margin-left: 30%;
        display: grid;
        grid-template-columns: 1fr  ;
        height: 1500px;
       
        
    }
    
    .div_nav_5 {
        height: auto;
        width: 60%;
        background-color: #f6f6eb;
        border-radius: 15px;
        margin-left: 0;
    
    }
    
    .div_nav_5 img {
        position: relative;
        top: 50%;
        height: 200px;
        width: 100%;
        border-radius: 15px;
    
    }
    
    .div_nav_5 span {
        font-size: large;
        font-weight: 900;
        position: relative;
        bottom: 40%;
        left: 25px;
    }
    
    .div_nav_6 {
        margin-top: 100px;
        height: auto;
        width: 60%;
        background-color: #f3f2fc;
        border-radius: 15px;
    }
    
    .div_nav_6 img {
   position: relative;
        top: 40%;
        height: 200px;
        width: 100%;
        border-radius: 15px;

    }
    
    .div_nav_6 span {
        font-size: large;
        font-weight: 900;
        
        bottom: 40%;
        left: 25px;
    }
    
    .div_nav_7 {
        margin-top: 100px;
        margin-left: 0;
        height: 300px;
        width: 60%;
        background-color: #f6f6eb;
        border-radius: 15px;
    
    }
    
    .div_nav_7 img {
        position: relative;
        top: 50%;
        height: 200px;
        width: 100%;
        border-radius: 15px;

    }
    
    .div_nav_7 span {
        font-size: large;
        font-weight: 900;
        position: relative;
        bottom: 40%;
        left: 25px;
    }
    
    footer {
        background-color: #0B2545;
        color: white;
        padding: 40px 20px;
        margin-top: 200px;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        font-weight: 900;
        font-size: small;
    
    }
    
    .footer-container_1 {
        justify-self: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 100px;
    
    }
    
    .column a {
        text-decoration: none;
        color: white;
    }
    
    .column_1 a {
        text-decoration: none;
        color: white;
    }
    
    .column {
        line-height: 230%;
    }
    
    .column_1 {
        line-height: 230%;
    }
    
    .column ul {
        list-style: none;
        padding: 0;
    
    }
    
    .column_1 ul {
        list-style: none;
        padding: 0;
    
    }
    
    .footer-container_2 {
        margin-top: 5%;
        justify-self: center;
        width: 67%;
        
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 6%;
    
    }
    
    .footer-bottom {
        margin-top: 10%;
        display: grid;
        grid-template-columns: 50% 50%;
        color: #fedb63;
        margin-left: 15%;
    }
    
    .footer-bottom_1 img {
        width: 30px;
        height: 30px;
        
    }
    
    .footer-bottom_2 img {
        width: 200px;
        height: 50px;
        margin-left: 50%;
        margin-top: 5%;
    }
    
    .column a:hover {
        text-decoration: underline;
    }  
}
@media (max-width:750px) {
    .main_1 {
        justify-self: start;
        width: 80%;
        display: grid;
        grid-template-rows:none;
        margin-top: 2%;
        
    }
    
    .div_nav_1 {
        display: grid;
        grid-template-columns: auto auto;
        margin-bottom: 10%;
    }
    
    .span_1 {
        display: block;
        font-size: x-large;
        margin-left: 13%; 
        font-weight: 900;
    
    }
    .div_nav_2:hover{
        cursor: pointer;
    }
    
    .span_2 {
        display: block;
        font-size: medium;
        padding-top: 1%;
        margin-left: 13%;
       
    }
    .nav_2{
        text-align: center;
    }
    
    .nav_2 a {
        color: rgb(15, 0, 152);
        font-weight: 700;
        text-decoration: underline;
        font-weight: bold;
        font-size: medium;
       
    
    }
    .nav_2 a:hover {
        color: rgb(100, 83, 247);
        font-weight: 700;
        text-align: end;
        font-size: medium;

    }
    
    .div_nav_2 {
        width: 60%;
        margin-left: 20%;
        display: grid;
        grid-template-columns: 1fr  ;
        height: 1500px;
       
        
    }
    
    .div_nav_5 {
        height: auto;
        width: 60%;
        background-color: #f6f6eb;
        border-radius: 15px;
        margin-left: 0;
    
    }
    
    .div_nav_5 img {
        position: relative;
        top: 50%;
        height: 200px;
        width: 100%;
        border-radius: 15px;
    
    }
    
    .div_nav_5 span {
        font-size: large;
        font-weight: 900;
        position: relative;
        bottom: 40%;
        left: 25px;
    }
    
    .div_nav_6 {
        margin-top: 100px;
        height: auto;
        width: 60%;
        background-color: #f3f2fc;
        border-radius: 15px;
    }
    
    .div_nav_6 img {
   position: relative;
        top: 40%;
        height: 200px;
        width: 100%;
        border-radius: 15px;

    }
    
    .div_nav_6 span {
        font-size: large;
        font-weight: 900;
        
        bottom: 40%;
        left: 25px;
    }
    
    .div_nav_7 {
        margin-top: 100px;
        margin-left: 0;
        height: 300px;
        width: 60%;
        background-color: #f6f6eb;
        border-radius: 15px;
    
    }
    
    .div_nav_7 img {
        position: relative;
        top: 50%;
        height: 200px;
        width: 100%;
        border-radius: 15px;

    }
    
    .div_nav_7 span {
        font-size: large;
        font-weight: 900;
        position: relative;
        bottom: 40%;
        left: 25px;
    }
    
    footer {
        background-color: #0B2545;
        color: white;
        padding: 40px 20px;
        margin-top: 200px;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        font-weight: 900;
        font-size: small;
    
    }
    
    .footer-container_1 {
        justify-self: center;
        display: grid;
        grid-template-columns: 1fr 1fr ;
        gap: 100px;
    
    }
    
    .column a {
        text-decoration: none;
        color: white;
    }
    
    .column_1 a {
        text-decoration: none;
        color: white;
    }
    
    .column {
        line-height: 230%;
    }
    
    .column_1 {
        line-height: 230%;
    }
    
    .column ul {
        list-style: none;
        padding: 0;
    
    }
    
    .column_1 ul {
        list-style: none;
        padding: 0;
    
    }
    
    .footer-container_2 {
        margin-top: 5%;
        justify-self: center;
        width: 67%;
        
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 6%;
    
    }
    
    .footer-bottom {
        margin-top: 10%;
        display: grid;
        grid-template-columns: 50% ;
        color: #fedb63;
        margin-left: 15%;
    }
    
    .footer-bottom_1 img {
        width: 30px;
        height: 30px;
        
    }
    
    .footer-bottom_2 img {
        width: 200px;
        height: 50px;
        margin-left: 50%;
        margin-top: 5%;
    }
    
    .column a:hover {
        text-decoration: underline;
    }  
}
@media (max-width:500px) {
    .main_1 {
        justify-self: center;
        width: 85%;
        margin-left: 0%;
        display: grid;
        grid-template-rows:none;
        margin-top: 2%;
      
    }
    
    .div_nav_1 {
        display: grid;
        grid-template-columns: auto auto;
        margin-bottom: 10%;
    }
    
    .span_1 {
        display: block;
        font-size: x-large;
        margin-left: 0%; 
        font-weight: 900;
    
    }
    .div_nav_2:hover{
        cursor: pointer;
    }
    
    .span_2 {
        display: block;
        font-size: medium;
        padding-top: 1%;
        margin-left: 0;
       
    }

    .nav_2{
        text-align: center;
    }
    
    .nav_2 a {
        color: rgb(15, 0, 152);
        font-weight: 700;
        text-decoration: underline;
        font-weight: bold;
        font-size: medium;
       
    
    }
    .nav_2 a:hover {
        color: rgb(100, 83, 247);
        font-weight: 700;
        text-align: end;
        font-size: medium;

    }
    
    .div_nav_2 {
        width: 100%;
        margin-left: 0;
        display: grid;
        grid-template-columns: 1fr  ;
        height: 1500px;
       
        
    }
    
    .div_nav_5 {
        height: auto;
        width: 60%;
        background-color: #f6f6eb;
        border-radius: 15px;
        margin-left: 0;
    
    }
    
    .div_nav_5 img {
        position: relative;
        top: 50%;
        height: 200px;
        width: 100%;
        border-radius: 15px;
    
    }
    
    .div_nav_5 span {
        font-size: large;
        font-weight: 900;
        position: relative;
        bottom: 40%;
        left: 25px;
    }
    
    .div_nav_6 {
        margin-top: 100px;
        height: auto;
        width: 60%;
        background-color: #f3f2fc;
        border-radius: 15px;
    }
    
    .div_nav_6 img {
   position: relative;
        top: 40%;
        height: 200px;
        width: 100%;
        border-radius: 15px;

    }
    
    .div_nav_6 span {
        font-size: large;
        font-weight: 900;
        
        bottom: 40%;
        left: 25px;
    }
    
    .div_nav_7 {
        margin-top: 100px;
        margin-left: 0;
        height: 300px;
        width: 60%;
        background-color: #f6f6eb;
        border-radius: 15px;
    
    }
    
    .div_nav_7 img {
        position: relative;
        top: 50%;
        height: 200px;
        width: 100%;
        border-radius: 15px;

    }
    
    .div_nav_7 span {
        font-size: large;
        font-weight: 900;
        position: relative;
        bottom: 40%;
        left: 25px;
    }
    
    footer {
        background-color: #0B2545;
        color: white;
        padding: 40px 0px;
        margin-top: 200px;
        display: grid;
      height: auto;
        font-weight: 900;
        font-size: x-small;
    
    }
    
    .footer-container_1 {
        justify-self: center;
        display: grid;
        grid-template-columns: 1fr 1fr ;
        gap: 10px;
    
    }
    
    .column a {
        text-decoration: none;
        color: white;
    }
    
    .column_1 a {
        text-decoration: none;
        color: white;
    }
    
    .column {
        line-height: 230%;
    }
    
    .column_1 {
        line-height: 230%;
    }
    
    .column ul {
        list-style: none;
        padding: 0;
    
    }
    
    .column_1 ul {
        list-style: none;
        padding: 0;
    
    }
    
    .footer-container_2 {
        margin-top: 5%;
        justify-self: center;
        width: 67%;
        
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 6%;
    
    }
    
    .footer-bottom {
        margin-top: 10%;
        display: grid;
        grid-template-columns: 1fr ;
        color: #fedb63;
        margin-left: 0%;
        height: 10%;
    }
    
    .footer-bottom_1 img {
        width: 30px;
        height: 30px;
        
    }
    
    .footer-bottom_2 img {
        width: 200px;
        height: 50px;
        margin-left: 40%;
        margin-top: 5%;
    }
    
    .column a:hover {
        text-decoration: underline;
    }  
}